.freebirdThemedTab .exportTab .freebirdThemedBadge {
            background-color: rgba(0, 0, 0, 0.5);
        }
        
        .freebirdThemedTab .exportTab.isSelected .freebirdThemedBadge {
            background-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedCheckbox.isChecked:not(.isDisabled),
        .freebirdThemedCheckbox.isIndeterminate:not(.isDisabled) {
            border-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedCheckbox.isCheckedNext > .exportInk,
        .freebirdThemedCheckbox.isFocused > .exportInk {
            background-color: rgba(103, 58, 183, 0.15);
        }
        
        .freebirdThemedCheckbox:hover > .exportInk,
        .freebirdThemedCheckbox:focus > .exportInk {
            background-color: rgba(103, 58, 183, 0.15);
        }
        
        .freebirdThemedCheckbox:hover > .exportInk {
            background-color: rgba(103, 58, 183, 0.04);
        }
        
        .freebirdThemedCheckboxDarkerDisabled.isChecked.isDisabled,
        .freebirdThemedCheckboxDarkerDisabled.isIndeterminate.isDisabled {
            border-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedCheckboxDarkerDisabled.isDisabled:not(.isChecked):not(.isIndeterminate) {
            border-color: rgba(0, 0, 0, .26);
        }
        
        .freebirdQuizResponse .freebirdThemedCheckboxDarkerDisabled.isChecked.isDisabled,
        .freebirdQuizResponse .freebirdThemedCheckboxDarkerDisabled.isIndeterminate.isDisabled,
        .takeout .freebirdThemedCheckboxDarkerDisabled.isDisabled {
            border-color: rgba(0, 0, 0, .54);
        }
        
        .freebirdThemedRadio.isChecked:not(.isDisabled) .exportOuterCircle,
        .freebirdThemedRadio .exportInnerCircle {
            border-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedRadio .isChecked:not(.isDisabled) .exportOuterCircle {
            border-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedRadio.isCheckedNext > .exportInk,
        .freebirdThemedRadio.isFocused > .exportInk {
            background-color: rgba(103, 58, 183, 0.15);
        }
        
        .freebirdThemedRadio:focus > .exportInk {
            background-color: rgba(103, 58, 183, 0.15);
        }
        
        .freebirdThemedRadio:not(.isDisabled):hover > .exportInk {
            background-color: rgba(103, 58, 183, 0.04)
        }
        
        .freebirdThemedRadioDarkerDisabled.isChecked.isDisabled .exportOuterCircle,
        .freebirdThemedRadioDarkerDisabled.isChecked.isDisabled .exportInnerCircle {
            border-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedRadioDarkerDisabled.isDisabled:not(.isChecked) .exportOuterCircle {
            border-color: rgba(0, 0, 0, .26);
        }
        
        .freebirdQuizResponse .freebirdThemedRadioDarkerDisabled.isChecked.isDisabled .exportOuterCircle,
        .freebirdQuizResponse .freebirdThemedRadioDarkerDisabled.isChecked.isDisabled .exportInnerCircle,
        .takeout .freebirdThemedRadioDarkerDisabled.isDisabled .exportOuterCircle {
            border-color: rgba(0, 0, 0, .54);
        }
        
        .freebirdThemedRadioRow >:first-child {
            border-left: transparent solid 5px;
        }
        
        .freebirdThemedRadioRow.isChecked {
            background-color: rgb(240, 235, 248);
        }
        
        .freebirdThemedRadioRow.isChecked >:first-child {
            border-left-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedSelectOptionDarkerDisabled.isSelected.isDisabled {
            color: rgba(0, 0, 0, .87);
        }
        
        .freebirdThemedFlatButton .exportInk {
            background-image: radial-gradient( circle farthest-side, rgba(103, 58, 183, 0.15), rgba(103, 58, 183, 0.15) 80%, rgba(103, 58, 183, 0) 100%);
        }
        
        .freebirdThemedFlatButton {
            color: rgb(103, 58, 183);
        }
        
        .freebirdThemedFlatButton.isDisabled {
            color: rgba(103, 58, 183, 0.5);
        }
        
        .freebirdThemedFlatButton.isFocused .exportOverlay {
            background-color: rgba(103, 58, 183, 0.15);
        }
        
        .freebirdThemedFlatButtonInverted .exportInk {
            background-image: radial-gradient( circle farthest-side, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3) 80%, rgba(255, 255, 255, 0) 100%);
        }
        
        .freebirdThemedFlatButtonInverted {
            background-color: rgb(103, 58, 183);
            color: rgba(255, 255, 255, 1);
        }
        
        .freebirdThemedFlatButtonInverted.isDisabled {
            color: rgba(255, 255, 255, 1);
            opacity: .54;
        }
        
        .freebirdThemedFlatButtonInverted a .exportLabel {
            color: rgba(255, 255, 255, 1);
        }
        
        .freebirdThemedFlatButtonInverted.isFocused .exportOverlay {
            background-color: rgba(255, 255, 255, .3);
        }
        
        .freebirdThemedFilledButtonM2 {
            background-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedFilledButtonM2:hover {
            box-shadow: 0px 2px 1px -1px rgba(103, 58, 183, 0.2), 0px 1px 1px 0px rgba(103, 58, 183, 0.14), 0px 1px 3px 0px rgba(103, 58, 183, 0.12);
        }
        
        .freebirdThemedFilledButtonM2.isActive.isActive {
            box-shadow: 0px 3px 5px -1px rgba(103, 58, 183, 0.2), 0px 6px 10px 0px rgba(103, 58, 183, 0.14), 0px 1px 18px 0px rgba(103, 58, 183, 0.12);
        }
        
        .freebirdThemedNavTitle {
            color: rgb(108, 108, 108);
        }
        
        .freebirdThemedNavDash {
            border-color: rgb(108, 108, 108);
        }
        
        .freebirdThemedNav .exportTab {
            color: rgb(108, 108, 108);
        }
        
        .freebirdThemedNav .exportTab.isSelected {
            background-color: rgba(103, 58, 183, 0.15);
            color: rgb(103, 58, 183);
        }
        
        .freebirdThemedNav .exportTab.isSelected.isDisabled {
            background-color: rgba(189, 189, 189, .38);
            ;
            color: #9E9E9E;
        }
        
        .freebirdThemedNav .freebirdNavIcon {
            fill: rgb(108, 108, 108);
        }
        
        .freebirdThemedNav .isSelected .freebirdNavIcon {
            fill: rgb(103, 58, 183);
        }
        
        .freebirdThemedNav .isDisabled .freebirdNavIcon,
        .freebirdThemedNav .isSelected.isDisabled.freebirdNavIcon {
            fill: #9E9E9E;
        }
        
        .freebirdThemedTab .exportIndicator {
            background-color: rgb(103, 58, 183);
        }
        
        .ds-hc-black .freebirdThemedTab .exportIndicator {
            background-color: white;
            -ms-high-contrast-adjust: none;
        }
        
        .ds-hc-white .freebirdThemedTab .exportIndicator {
            background-color: black;
            -ms-high-contrast-adjust: none;
        }
        
        .freebirdThemedTab .exportTab {
            color: rgba(0, 0, 0, 0.5);
        }
        
        .freebirdThemedTab .exportTab.isSelected {
            color: rgb(103, 58, 183);
        }
        
        .freebirdThemedTab .exportTabPageButton {
            fill: rgb(103, 58, 183);
        }
        
        .freebirdThemedTab .exportInk {
            background-image: radial-gradient( circle farthest-side, rgba(103, 58, 183, 0.15), rgba(103, 58, 183, 0.15) 80%, rgba(103, 58, 183, 0) 100%);
        }
        
        .freebirdThemedTab .freebirdTabIcon {
            fill: #5F6368;
        }
        
        .freebirdThemedTab .isSelected .freebirdTabIcon {
            fill: rgb(103, 58, 183);
        }
        
        .freebirdThemedTab .isDisabled .freebirdTabIcon,
        .freebirdThemedTab .isSelected.isDisabled.freebirdTabIcon {
            fill: #9E9E9E;
        }
        
        .freebirdThemedDarkTab {
            background-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedDarkTab .freebirdThemedDarkTabContent {
            background-color: #FFF;
        }
        
        .freebirdThemedDarkTab .exportIndicator {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .ds-hc-black .freebirdThemedDarkTab .exportIndicator {
            background-color: white;
            -ms-high-contrast-adjust: none;
        }
        
        .ds-hc-white .freebirdThemedDarkTab .exportIndicator {
            background-color: black;
            -ms-high-contrast-adjust: none;
        }
        
        .freebirdThemedDarkTab .exportTab {
            color: rgba(255, 255, 255, 0.75);
        }
        
        .freebirdThemedDarkTab .exportTab.isSelected {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(255, 255, 255, 0);
        }
        
        .freebirdThemedDarkTab .exportTab.isFocused {
            background-color: rgba(255, 255, 255, 0.15);
        }
        
        .freebirdThemedDarkTab .exportTabPageButton {
            fill: rgba(255, 255, 255, 1);
        }
        
        .freebirdThemedDarkTab .exportInk {
            background-image: radial-gradient( circle farthest-side, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15) 80%, rgba(255, 255, 255, 0) 100%);
        }
        
        .freebirdThemedTextarea .exportFocusUnderline {
            background-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedTextarea .exportHint {
            color: rgb(103, 58, 183);
        }
        
        .freebirdThemedTextarea.exportHasError .exportContent.exportUnderline,
        .freebirdThemedTextarea.exportHasError .exportContent.exportFocusUnderline {
            background-color: rgb(225, 216, 241);
        }
        
        .quantumWizTextinputPaperinputInput:not([disabled]):focus ~ .quantumWizTextinputPaperinputFloatingLabel.exportLabel,
        .isFocused > .exportContent >.quantumWizTextinputPapertextareaFloatingLabel.exportLabel,
        .isFocused.modeDark > .exportContent >.quantumWizTextinputPapertextareaFloatingLabel.exportLabel {
            color: rgb(103, 58, 183);
        }
        
        .freebirdThemedTextareaDarkerDisabled.isDisabled .exportInput[disabled] {
            color: rgba(0, 0, 0, .87);
        }
        
        .freebirdThemedInput .exportFocusUnderline {
            background-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedInput .exportHint {
            color: rgb(103, 58, 183);
        }
        
        .freebirdThemedInput.exportHasError .exportContent.exportUnderline,
        .freebirdThemedInput.exportHasError .exportContent.exportFocusUnderline {
            background-color: rgb(225, 216, 241);
        }
        
        .freebirdThemedInputDarkerDisabled.isDisabled .exportInput[disabled] {
            color: rgba(0, 0, 0, .87);
        }
        
        .freebirdThemedToggle.isChecked .exportThumb {
            border-color: rgb(103, 58, 183);
            color: rgba(255, 255, 255, 1);
        }
        
        .freebirdThemedToggle.isChecked > .exportTrack {
            border-color: rgb(225, 216, 241);
        }
        
        .freebirdThemedToggle.isCheckedNext > .exportInk,
        .freebirdThemedToggle.isFocused > .exportInk {
            background-color: rgba(103, 58, 183, 0.15);
        }
        
        .freebirdThemedToggleSwitch {
            border-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedToggleSwitch.isChecked {
            background-color: rgb(103, 58, 183);
            color: rgba(255, 255, 255, 1);
        }
        
        .freebirdDarkIconOnHeader {
            display: none;
        }
        
        .freebirdDarkIconOnThemedBackground {
            display: none;
        }
        
        .ds-hc-white .freebirdDarkIconOnThemedBackground {
            display: block;
        }
        
        .ds-hc-white .freebirdLightIconOnThemedBackground {
            display: none;
        }
        
        .freebirdHeaderCard {
            display: none;
        }
        
        .freebirdHeaderMast {
            background-color: rgb(103, 58, 183);
            color: rgba(255, 255, 255, 1);
        }
        
        .freebirdHeaderMastWithOverlay {
            background-color: rgb(103, 58, 183);
            color: rgba(255, 255, 255, 1);
        }
        
        .freebirdHeaderMastWithOverlay .freebirdMutedText {
            color: rgba(255, 255, 255, 0.7);
        }
        
        .freebirdHeaderMastWithOverlay .freebirdFormTitleInput .exportLabel,
        .freebirdHeaderMastWithOverlay .exportInput {
            color: rgba(255, 255, 255, 1);
        }
        
        .freebirdHeaderMastWithOverlay .exportFocusUnderline {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .exportSplash {
            background-color: rgb(103, 58, 183);
        }
        
        .freebirdThemedDialog .exportTitleBarFullScreen,
        .freebirdThemedMobileDialog .exportTitleBarFullScreen,
        .freebirdThemedDialog .exportTitleBar,
        .freebirdThemedDialog .exportDialogClose,
        .freebirdThemedMobileDialog .exportDialogClose {
            background-color: rgb(103, 58, 183);
            color: rgba(255, 255, 255, 1);
            fill: rgba(255, 255, 255, 1);
        }
        
        .m2 .freebirdThemedDialog .exportTitleBarFullScreen,
        .m2 .freebirdThemedMobileDialog .exportTitleBarFullScreen,
        .m2 .freebirdThemedDialog .exportTitleBar,
        .m2 .freebirdThemedDialog .exportDialogClose,
        .m2 .freebirdThemedMobileDialog .exportDialogClose {
            background-color: transparent;
            color: #5F6368;
            fill: #5F6368;
        }
        
        .ds-hc-black .freebirdThemedDialog,
        .ds-hc-black .freebirdThemedMobileDialog {
            border: 2px solid white;
        }
        
        .ds-hc-white .freebirdThemedDialog,
        .ds-hc-white .freebirdThemedMobileDialog {
            border: 2px solid black;
        }
        
        .freebirdThemedDialog .exportDefaultDialogButton {
            color: rgb(103, 58, 183);
        }
        
        .freebirdThemedDialog.exportMobileDialog .exportDefaultDialogButton,
        .freebirdThemedMobileDialog.exportMobileDialog .exportDefaultDialogButton {
            color: rgba(255, 255, 255, 1);
        }
        
        .freebirdThemedDialog .exportDefaultDialogButton .exportInk {
            background-image: radial-gradient( circle farthest-side, rgba(103, 58, 183, 0.15), rgba(103, 58, 183, 0.15) 80%, rgba(103, 58, 183, 0) 100%);
        }
        
        .freebirdThemedDialog .exportDefaultDialogButton.isDisabled {
            color: rgba(103, 58, 183, 0.5);
        }
        
        .freebirdThemedDialog .exportDefaultDialogButton.isFocused .exportOverlay {
            background-color: rgba(103, 58, 183, 0.15);
        }
        
        .freebirdThemedDialog .exportTabPageButton {
            background-color: rgb(103, 58, 183);
        }
        
        .m2 .freebirdThemedDialog .exportTabPageButton {
            background-color: white;
        }
        
        .freebirdDarkOutline {
            outline-style: solid;
            outline-color: rgb(103, 58, 183);
        }
        
        .freebirdQuizResponse .isDisabled .freebirdDarkOutline {
            outline-color: rgba(0, 0, 0, .54);
        }
        
        .freebirdLabeledControlDarkerDisabled.isDisabled .exportLabel {
            color: rgba(0, 0, 0, .54);
        }
        
        .freebirdLabeledControlDarkerDisabled.isDisabled.isChecked .exportLabel,
        .freebirdLabeledControlDarkerDisabled.isDisabled.isIndeterminate .exportLabel {
            color: rgba(0, 0, 0, .87);
        }
        
        .takeout .freebirdLabeledControlDarkerDisabled.isDisabled .exportLabel,
        .takeout .freebirdLabeledControlDarkerDisabled.isDisabled.isChecked .exportLabel,
        .takeout .freebirdLabeledControlDarkerDisabled.isDisabled.isIndeterminate .exportLabel {
            color: black;
        }
        
        .freebirdLabeledControlDarkerDisabled.isDisabled .exportTooltip svg {
            fill: rgba(0, 0, 0, .54);
        }
        
        .freebirdLabeledControlDarkerDisabled.isDisabled.isChecked .exportTooltip,
        .freebirdLabeledControlDarkerDisabled.isDisabled.isIndeterminate .exportTooltip svg {
            fill: rgba(0, 0, 0, .87);
        }
        
        .freebirdThemedText {
            color: rgb(103, 58, 183);
        }
        
        .freebirdSolidColor {
            color: rgb(103, 58, 183);
        }
        
        .freebirdSolidBackground {
            background-color: rgb(103, 58, 183);
            color: rgba(255, 255, 255, 1);
        }
        
        .freebirdLightBackground {
            background-color: rgb(240, 235, 248);
        }
		
		.freebirdGoldBackground {
            background-color: rgb(201, 157, 36);
        }
		
		.freebirdSilverBackground {
            background-color: rgb(180, 180, 180);
        }
		
		.freebirdBronzeBackground {
            background-color: rgb(170, 110, 76);
        }
        
        .freebirdUltraLightBackground {
            background-color: rgba(103, 58, 183, 0.05);
        }
        
        .freebirdAccentBackground {
            background-color: rgb(174, 121, 255);
        }
        
        .freebirdLighterBackgroundHover:hover {
            background-color: rgba(103, 58, 183, 0.1);
        }
        
        .freebirdSolidFill {
            fill: rgb(103, 58, 183);
            stroke: rgb(103, 58, 183);
        }
        
        .freebirdSolidBorder {
            border-color: rgb(103, 58, 183);
        }
        
        .freebirdCustomFont,
        .freebirdCustomFont .exportContentArea .exportTextarea {}
        
        .freebirdDecorativeFont {
            font-family: 'Parisienne', cursive;
        }
        
        .freebirdPlayfulFont {
            font-family: 'Patrick Hand', fantasy;
        }
        
        .freebirdFormalFont {
            font-family: 'Cormorant Garamond', serif;
        }
        
        .freebirdForegroundFill {
            fill: rgba(255, 255, 255, 1)
        }
        
        html:not([style-scope]):not(.style-scope).freebird,
        body:not([style-scope]):not(.style-scope).freebirdLightBackground {
            background-color: rgb(240, 235, 248);
        }
        
        .freebirdDisclaimerColor,
        .freebirdDisclaimerColor a {
            color: rgba(0, 0, 0, 0.66);
        }
